<head>
	<style>
.frame {
			width: 700px; height: 100px;
			background: /*#fc0*/white;
			outline: 5px solid /*#000*/lightblue;
			border: 10px solid /*#fff*/white; /*отступ от рамки*/
			/*border-radius: 10px;*/
		}

		.name_crit {
			width: 338px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative; 
			right: 180px;*/
		}

		.name_field {
			width: 338px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			left: 180px;
			top: -38px;*/
		}

		.description_crit {
			width: 338px; height: 100px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 180px;
			top: -30px;*/
		}

		.descroption_area {
			width: 338px; height: 100px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			right: -180px;
			top: -142px;*/
		}

		.parent_crit {
			width: 338px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 180px;
			top: -133px;*/
		}

		.parent_select {
			width: 338px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			right: -180px;
			top: -171px;*/
		}

		.scale {
			width: 689px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 5px;
			top: -163px;*/
		}

		.scale_desc {
			width: 689px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: left;
			/*position: relative;
			right: 5px;
			top: -159px;*/
		}

		.ismin_crit {
			width: 338px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 180px;
			top: -150px;*/
		}

		.ismin_select {
			width: 338px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			right: -180px;
			top: -188px;*/
		}

		.numeric_crit {
			width: 338px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 180px;
			top: -180px;*/

		}

		.numeric_checkbox {
			width: 338px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			right: -180px;
			top: -218px;*/
		}

		.ord_crit {
			width: 338px; height: 26px;
			background: lightblue;
			outline: 5px solid white;
			border: 6px solid lightblue;
			float: left;
			/*position: relative;
			right: 180px;
			top: -210px;*/
		}

		.ord_field {
			width: 338px; height: 26px;
			background: lightgrey;
			outline: 5px solid white;
			border: 6px solid lightgrey;
			float: right;
			/*position: relative;
			right: -180px;
			top: -248px;*/
		}

		.scale_item {
			width: 215px; height: 18px;
			background: lightgrey;
			float: left;
			outline: 2px solid white;
			border: 6px solid lightgrey;
		}

	</style>
</head>
<body>
	<div class="frame" align="center">

	    <h1>Параметры критерия</h1>

        <%= form_tag(:controller => "criteria", :action => "update") do %>

        <div class="name_crit" align="right">
		    Наименование
	    </div>

	   	<div class="name_field" align="left">
		    <%= text_field_tag :name, @criterium.name %>
      	</div>

      	<div class="description_crit" align="right">
		Описание
	    </div>

	    <div class="descroption_area" align="left">
		<%=  text_area_tag :description, @criterium.description, size: "45x6"%>
	    </div>

	    <% crit_children = Criterium.where(criterium_id: @criterium.id).take %>
	    <% if crit_children == nil %>
	    <div class="parent_crit" align="right">
		Родитель
	    </div>

	    <div class="parent_select" align="left">
		<%=  collection_select(:criterium, :criterium_id, Criterium.where("task_id = ? AND id != ?", params[:t], 1), :id, :name) %>
	    </div>
	    <% end %>

	    <div class="scale">
	    Шкала
	    <%= link_to '+', criteria_crit_scale_path(c: @criterium.id), method: :get %>
    	</div>

        <% if CritScale.where(criterium_id: @criterium.id).take == nil %>
        <div class="scale_desc">
        	Шкала не заполнена
        </div>
        <% else %>
        <table>
        <% @crit_scale.each do |c| %>
    		<tr>
    			<td><div class="scale_item" align="center">
    				<%= c.name %>
    			</div></td>
    			<td><div class="scale_item" align="center">
    				<%= c.rank.to_i %>
    			</div></td>
    			<td><div class="scale_item" align="center">
    				<%= link_to 'Удалить', criteria_crit_scale_destroy_path(c) %>
    			</div></td>
    		</tr>
    	<% end %>
    	</table>
        <% end %>


	    <div class="ismin_crit" align="right">
		Наравление улучшений
	    </div>

	    <div class="ismin_select" align="left">
		<%= select(:criterium, :ismin, [['Чем больше, тем лучше', 1],['Чем меньше, тем лучше', 2],['Идельное значение', 3]]) %>
	    </div>

	    <!--<div class="numeric_crit" align="right">
		Числовой показатель 
		</div>
  
    	<div class="numeric_checkbox" align="left">
		<%= check_box_tag :numeric, @criterium.numeric %>
    	</div>-->

	    <div class="ord_crit" align="right">
		Порядковый номер
	    </div>

	    <div class="ord_field" align="left">
		<%= text_field_tag :ord, @criterium.ord  %>
	    </div>

	    <div>
	    	Метод
	    	<%= collection_select(:criterium, :ws_method_id, WsMethod.all, :id, :name) %>
	    </div>



	    <% if crit_children == nil %>
	    <div align="right">
	    <%= link_to 'Удалить критерий', criterium_path(@criterium.id), method: :delete%>
	    </div>
	    <% end %>


        <% if @criterium.ismin == 3 %>
            <% if CritScale.where(criterium_id: @criterium.id).take == nil %>
            <div>
                Идеальное значение
                <%= text_field_tag :idealvalue, @criterium.idealvalue %>
	        </div>
	        <% else %>
	        <div>
	    	    Идеальное значение
	    	    <%= collection_select(:criterium, :rank, CritScale.where(criterium_id: @criterium.id).order(:rank), :id, :name) %>
	        </div>
	        <% end %>
	    <% end %>


      	<%= submit_tag "Сохранить" %>
 
        <% end %>

        <div><%= link_to 'Отмена', criteria_path(t: params[:t]) %></div>

        

	</div>
</body>