<h1>Значения критериев</h1>
<hr>

<table>
	<% @criteria.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><label> ; значение: </label></td>

		<% cr_value = CritValue.where(criterium_id: c.id, alternative_id: params[:a]).take %>
		<% if cr_value != nil %>
		    <% if cr_value.crit_scale_id != 1 %>
		    <% cr_scale = CritScale.find(cr_value.crit_scale_id) %>
		    <td><%= cr_scale.name %></td>
		    <% else %>
		    <td><%= cr_value.value %></td>
		    <% end %>
		<% else %>
		<td><label>нет</label></td>
		<% end %>

		<td>
		<%= form_tag create_crit_value_path(c: c.id, a: params[:a]) do %>
		<span>
            <% if CritScale.where(criterium_id: c.id).take != nil %>
            <%= collection_select(:crit_value, :crit_scale_id, CritScale.where(criterium_id: c.id), :id, :name) %>
            <% else %>
		    <%= text_field_tag :value %>
            <% end %>

			<%= submit_tag "Добавить" %>
		</span>
		<% end %>
		</td>

		<!--<td><%= button_to 'Добавить', {:onclick => 'new'}  %></td>
		<td><%= text_field_tag :y %></td>-->
	</tr>
	<% end %>
</table>

<%= link_to 'Назад', alternatives_path %>




