<h1>Альтернативы</h1>
<hr>

<p>
	<%= link_to 'Настройка', tasks_path %> 
	<%= link_to 'Критерии', criteria_path %>
	<%= link_to 'Альтернативы', alternatives_path %>
</p>

<%= button_to "Добавить альтернативу", new_alternative_path %>

<%= form_tag(:controller => "alternatives", :action => "task_num") do %>
<span>
	<%= collection_select(:alternative, :task_id, Task.all, :id, :name) %>

	<%= submit_tag "Выбрать задачу" %>
</span>
<% end %>

<table>
	<% @alternatives.each do |a| %>
	    <tr>
	    	<td><%= a.name %></td>
	    	<td><label> , </label></td>
	    	<td><% task = Task.find(a.task_id) %></td>
	    	<td><%= task.name %></td>
	    	<td><%= link_to 'Редактировать', edit_alternative_path(a) %></td>
	    	<td><%= link_to 'Выбрать', crit_values_path(a: a.id) %></td>
	    </tr>
	<% end %>
</table>